<h1>
  Пожалуйста, подтвердите Ваш адрес электронной почты
</h1>

<p>
  Чтобы подтвердить email, перейдите по следующей ссылке:
  <br /><br />
  <a href="{{ signedUrl|raw }}">Подтвердить Email</a>. Ссылка будет
  действительна в течение
  {{ expiresAt|date('g') }}
  часов.
</p>

<p>Если вы получили это письмо по ошибке, просто проигнорируйте его.</p>
